body{
    background-color: #dde7f1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    margin: 120px auto;
    max-width: 600px;
}
header {
    margin-bottom: 30px;
}
main{
    margin-bottom: 30px;
}
h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
}
form{
    padding: 30px;
    background-color: white;
    border-radius:  10px;
    display: flex;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    margin-bottom: 30px;
}
.prompt{
    padding: 16px;
    border: 1px solid rgba( 39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #272044;


}
.button{
    margin-left: 10px;
    background: #6eaeef;
    color: white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
}
.poem {
font-size: 14px;
background-color: white;
padding: 20px;
line-height: 24px;
border-left: 3px solid #6eaeef;
box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);


}
footer{
    text-align: center;
    font-size: 13px;
}

a {
    color: #6eaeef;
}